#math {
    display: none;
    position:absolute;
    top: 150px;
}

#getThisTime {
    display: none;
    position:absolute;
    top: 100px;
}

#changelogs {
    display: block;
    color: red;
    position:absolute;
    top: 360px;
}

#downloadCode {
    display: none;
    color: red;
    position:absolute;
    top: 100px;
}