#xsexpression{
    color: red;
}

#ysexpression{
    color: red;
}

#xsresult{
    color: red;
}

#ysresult{
    color: red;
}

#h2 {
    color: red;
}

#h21 {
    color: red;
}

#h22 {
    color: red;
}

#h23 {
    color: red;
}

#h24 {
    color: red;
}

#h25 {
    color: red;
}

#h26 {
    color: red;
}

#h27 {
    color: red;
}

#h28 {
    color: red;
}

#h29 {
    color: red;
}

#h210 {
    color: red;
}

#h211 {
    color: red;
}

#h212 {
    color: red;
}

#h213 {
    color: red;
}

#h214 {
    color: red;
}

#h215 {
    color: red;
}

#h216 {
    color: red;
}

#h217 {
    color: red;
}

#h218 {
    color: red;
}