#text1 {
  width: 50px;
  color: red;
}

#text2 {
  width: 50px;
  color: red;
}

#text3 {
  width: 50px;
  color: red;
}

#text4 {
  width: 60px;
  color: red;
}

#text5 {
  width: 60px;
  color: red;
}

#text6 {
  width: 60px;
  color: red;
}

#text7 {
  width: 60px;
  color: red;
}

#text8 {
  width: 60px;
  color: red;
}

#text9 {
  width: 60px;
}

#text10 {
  width: 60px;
}

#text11 {
  width: 60px;
}

#text12 {
  width: 60px;
}

#text13 {
  width: 60px;
}

#text14 {
  width: 60px;
}

#text15 {
  width: 60px;
}

#text16 {
  width: 60px;
}

#text17 {
  width: 60px;
}

#text18 {
  width: 60px;
}

#text19 {
  width: 60px;
}

#text20 {
  width: 60px;
}

#text21 {
  width: 60px;
}

#text22 {
  width: 60px;
}

#text23 {
  width: 60px;
}

#text24 {
  width: 60px;
}

#text25 {
  width: 60px;
}

#text26 {
  width: 60px;
}

#text27 {
  width: 60px;
}

#text28 {
  width: 60px;
}

#but1 {
  color: red;
  width: 100px;
  height: 50px;
  background: black;
}

#but2 {
  color: red;
  width: 100px;
  height: 50px;
  background: black;
}

#div1 {
  color: blue;
}

#pass {
  color: red;
}

#index1 {
  background-image: url("../img/Back.png");
  background-repeat: no-repeat;
  background-position: right top;
}
