body{
    background-color: antiquewhite;
}

#index{
    text-align: center;
    width: auto;
    height: 200px;
    background-color:beige;
}

#title{
    background-color: brown;
}

#First{
    background-color: white;
    width: 375px;
}

#Second{
    background-color: white;
    width: 375px;
    height: 280px;
}

#Second img{
    width: 375px;
}

#Third{
    background-color: white;
}

#actsLinks div{
    float: left;
}