#mathButton {
    color: red;
    width: 90px;
    height: 30px;
    background: black;
    position:absolute;
	left: 1px;
	top: 1px;
}

#getThisTimeButton {
    color: red;
    width: 90px;
    height: 30px;
    background: black;
    position:absolute;
    left: 120px;
	top: 1px;
}

#changelogsbutton {
    color: red;
    width: 90px;
    height: 30px;
    background: black;
    position:absolute;
    left: 240px;
	top: 1px;
}

#downloadCodeButton {
    color: red;
    width: 90px;
    height: 30px;
    background: black;
    position:absolute;
    left: 370px;
	top: 1px;
}
