#mathButton {
    color: red;
    width: 90px;
    height: 50px;
    background: black;
    position:absolute;
	left: 260px;
	top: 1px;
}

#homebutton{
    color: red;
    width: 90px;
    height: 50px;
    background: black;
    position:absolute;
	left: 260px;
	top: 52px;
    display: none;
}