#mathButton {
    color: red;
    width: 90px;
    height: 50px;
    background: black;
    position:absolute;
	left: 260px;
	top: 1px;
}

#getThisTimeButton {
    color: red;
    width: 90px;
    height: 50px;
    background: black;
    position:absolute;
    left: 260px;
	top: 70px;
}